.menuMain {
    margin-top: 5px;
    width: 100%
}


.logoutMain {
    margin-left: 60rem;
}

.pillsNavMain {
    background-color: black;
    color: white;
}

.activePillTab {
    background-color: black !important;
   color: white !important;
}
