<div class="containerMain container">
    <form (ngSubmit)="onSubmit()">
        <!-- 1st row  -->
        <div class="row rowMain">
            <div class="col-md-6">
                <label>ID:</label>
                <input type="text" name="id" [(ngModel)]="employeePayload.id" required>
                <!--  [formGroup]="userForm"<span *ngIf="id?.hasError('required')">*</span> -->

            </div>
            <div class="col-md-6">
                <label>Name:</label>
                <input type="text" name="name" [(ngModel)]="employeePayload.name" required>
                <!-- <span *ngIf="name?.hasError('required')">*</span> -->
            </div>
        </div>

        <!-- 2nd row  -->
        <div class="row rowMain">
            <div class="col-md-6">
                <label>Job Title:</label>
                <input type="text" name="jobTitle" [(ngModel)]="employeePayload.jobTitle" required>
                <!-- <span *ngIf="jobTitle?.hasError('required')">*</span> -->
            </div>
            <div class="col-md-6">
                <label>Department:</label>
                <input type="text" name="department" [(ngModel)]="employeePayload.department" required>
                <!-- <span *ngIf="department?.hasError('required')">*</span> -->
            </div>
        </div>

        <!-- 3rd row  -->
        <div class="row rowMain">
            <div class="col-md-6">
                <label>Email:</label>
                <input type="text" name="email" [(ngModel)]="employeePayload.email" required>
                <!-- <span *ngIf="email?.hasError('required')">*</span> -->
            </div>
            <div class="col-md-6">
                <label>Mobile:</label>
                <input type="text" name="mobile" [(ngModel)]="employeePayload.mobile" required>
                <!-- <span *ngIf="mobile?.hasError('required')">*</span> -->
            </div>
        </div>

        <!-- submit button  -->
        <div class="col-12 formButton">
            <button type="submit" class="submitButton">{{isEdit ? 'Update' : 'Add'}}</button>
            <button type="button" class="submitButton" (click)="resetForm()">Reset</button>
        </div>
    </form>
</div>